In [20]:
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install requests

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.10/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in ./.venv/lib/python3.10/site-packages (2.0.0)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.10/site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.10/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.10/site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in ./.venv/lib/python3.10/site-packages (from matplotlib) (2.0.0)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.10/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.10/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: requests in ./.venv/lib/python3.10/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.10/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.10/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.10/site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.10/site-packages (from requests) (2024.6.2)

In [21]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import zipfile

In [22]:
# open zip file
path = 'data/families.zip'
# extract all files

with zipfile.ZipFile(path, 'r') as zip_ref:
    zip_ref.extractall('data/unzipped/')

In [23]:
# for each file in the unzipped folder
# read the file, add a column with the file name, and append to a global dataframe
data = pd.DataFrame()
for file in os.listdir('data/unzipped/'):
    df = pd.read_csv('data/unzipped/'+file)
    id = file.split('.')[0].split('_')[1]
    df['id'] = id
    data = pd.concat([data, df])

In [24]:
data

,name,imdb_id,byear,image,rect,height width,url,pic_description,picyear,age,kinship,id
0,Sean_Connery,nm0000125,1930,nm0000125_2.jpg,768 117 904 276,912 1565,https://images-na.ssl-images-amazon.com/images...,Sean Connery and Ralph Richardson in La mujer ...,1964,34,parent,27
1,Sean_Connery,nm0000125,1930,nm0000125_3.jpg,181 207 321 353,797 1023,https://images-na.ssl-images-amazon.com/images...,Sean Connery and John Kitzmiller in El satánic...,1962,32,parent,27
2,Sean_Connery,nm0000125,1930,nm0000125_4.jpg,212 86 293 168,501 493,https://images-na.ssl-images-amazon.com/images...,Sean Connery and Ursula Andress in El satánico...,1962,32,parent,27
3,Jason_Connery,nm2510701,1963,nm2510701_8.jpg,58 194 174 315,500 351,https://images-na.ssl-images-amazon.com/images...,Jason Connery and Francesco Quinn in Casablanc...,1989,26,child,27
4,Jason_Connery,nm2510701,1963,nm2510701_10.jpg,197 81 262 162,236 472,https://images-na.ssl-images-amazon.com/images...,Jason Connery at an event for Tommy's Honour (...,2016,53,child,27
...,...,...,...,...,...,...,...,...,...,...,...,...
6,Sam_Robards,nm0730168,1961,nm0730168_3.jpg,194 130 258 221,666 1000,https://images-na.ssl-images-amazon.com/images...,Sam Robards Avan Jogia and Maddie Hasson in ...,2013,52,child,11
7,Sam_Robards,nm0730168,1961,nm0730168_4.jpg,423 171 473 284,1000 1502,https://images-na.ssl-images-amazon.com/images...,Gaby Hoffmann Josh Charles and Sam Robards i...,2009,48,child,11
8,Sam_Robards,nm0730168,1961,nm0730168_5.jpg,229 257 490 573,1000 748,https://images-na.ssl-images-amazon.com/images...,Sam Robards at an event for The Art of Getting...,2011,50,child,11
9,Sam_Robards,nm0730168,1961,nm0730168_6.jpg,82 101 179 220,498 475,https://images-na.ssl-images-amazon.com/images...,Sam Robards in Donor Unknown (1995),1995,34,child,11
10,Sam_Robards,nm0730168,1961,nm0730168_7.jpg,838 225 890 334,1000 1502,https://images-na.ssl-images-amazon.com/images...,Julianna Margulies Matt Czuchry Archie Panja...,2009,48,child,11

In [25]:
# for each family (id), download all images in url column and save them in a folder with the family id.
import requests
import shutil

for index, row in data.iterrows():
    id = row['id']
    url = row['url']
    image = row['image']
    response = requests.get(url, stream=True)
    
    if not os.path.exists('data/images/'+'/family_'+id):
        os.makedirs('data/images/'+'/family_'+id)
    
    with open('data/images/'+'/family_'+id+'/'+image, 'wb') as out_file:
        shutil.copyfileobj(response.raw, out_file)
    del response